<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="assets/img/tla.PNG" alt="">
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content>
  <h6 class="centrar">Informacion del viaje creado</h6>



  <ion-list *ngFor="let gen of generados">
    <ion-card>
      <ion-card-subtitle class="ion-text-center">Tiempo viaje: {{gen.tiempo}} </ion-card-subtitle>
      <ion-card-subtitle class="ion-text-center">Lugar origen: {{gen.nombreSede}} </ion-card-subtitle>
      <ion-card-subtitle class="ion-text-center">Lugar destino: {{gen.direccion}} </ion-card-subtitle>
      <ion-card-subtitle class="ion-text-center">Distancia: {{gen.km}} </ion-card-subtitle>
      <ion-card-subtitle class="ion-text-center">Valor Viaje: {{gen.costo}} </ion-card-subtitle>

    </ion-card>
  </ion-list>
  <ion-button expand="full" shape="round" (click)="irTerminado()">Confirmar Viaje</ion-button>

</ion-content>