<ion-router-outlet></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title>          
      <img src="assets/img/tla.PNG" alt="">
    </ion-title> 
      
    

    <ion-button color="secondary" slot="start" expand="block" (click)="modoConductor()" >
      <ion-icon name="speedometer-outline"></ion-icon>
      </ion-button>
      

      <ion-button color="dark" slot="end" expand="block" (click)="logOut()">
      <ion-icon  name="power-outline"></ion-icon>
      </ion-button>
      
      
</ion-toolbar>
<ion-item>
  <h6 class="centrar">Bienvenido: {{usuarios}}</h6>
</ion-item>
  <ion-toolbar>
    
  <ion-segment (ionChange)="segmentChanged($event)">
     
   <ion-segment-button value="dos">
      <ion-label>Map</ion-label>
      <ion-icon name="flag"></ion-icon>
    </ion-segment-button>


    <ion-segment-button value="tres">
      <ion-label>Conductores</ion-label>
      <ion-icon name="car-sport-outline"></ion-icon>
    </ion-segment-button>
    
  </ion-segment>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
