
<ion-content>  

<ion-card class="ion-text-center">
  <h4>Seleccione Ruta</h4>
  <ion-select placeholder="Selecione su ruta" [(ngModel)]="user">
    <ion-select-option *ngFor="let c of users" [value]="c">{{c.ruta}}</ion-select-option>
  </ion-select>
</ion-card>
<ion-card class="ion-text-center">
  <h4>Conductores Disponibles</h4>
  <ion-select placeholder="Selecione un Conductor" [(ngModel)]="user">
    <ion-select-option *ngFor="let c of users" [value]="c">{{c.name}}</ion-select-option>
  </ion-select>
</ion-card>

<ion-button expand="block" color="secondary" >Volor viaje crear</ion-button>

</ion-content>