<ion-header>
  <ion-toolbar>
    <ion-title>          
      <img src="assets/img/tla.PNG" alt="">
    </ion-title> 
      
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>  
        
</ion-toolbar>  
</ion-header>

<ion-content>
  <h5 class="centrar">Realizando Viaje</h5>
  <h5 class="centrar">ir donde el pasajero</h5>

  <div class="container ion-text-center">    
    <img src="assets/img/1313.png">
  </div>

  <ion-button expand="block" shape="round" (click)="irMain()">Finalizar viaje </ion-button>
  </ion-content>



